.loader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 4px solid #cb6698;
  border-left: 4px solid #cb6698;
  border-right: 4px solid #cb6698;
  animation: loader .7s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}