@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  z-index:1;
}
body{
  font-family: 'Tajawal', sans-serif;
  /* background-image: url("/bg1.svg");
  background-repeat: repeat; */
}


/* Add this CSS to your stylesheet */
.icon-outline {
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 8px;
  transition: border-color 0.3s ease-in-out;
}

.icon-outline:hover {
  border-color: #fff; /* Change this to your desired hover color */
}

/* stop animation in mobile */
/* @media screen and (max-width: 920px) {
  * {
    transition: none !important;
  }
  *::after{
    transition: none !important;
  }
} */