@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  z-index:1;
}
body{
  font-family: 'Tajawal', sans-serif;
  width:100%;
  overflow-x: hidden;
  background-color: #f7f2fb;
  /* background-image: url("/bg1.svg");
  background-repeat: repeat; */
}


/* Add this CSS to your stylesheet */
.icon-outline {
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 8px;
  transition: border-color 0.3s ease-in-out;
}

.icon-outline:hover {
  border-color: #fff; /* Change this to your desired hover color */
}

/* stop animation in mobile */
/* @media screen and (max-width: 920px) {
  * {
    transition: none !important;
  }
  *::after{
    transition: none !important;
  }
} */


/*  category menu item*/
.category-item{
  @apply relative after:absolute hover:after:translate-y-1 after:bottom-0 after:left-0 hover:after:w-full after:h-1 after:rounded after:bg-secondary after:transition-all after:duration-300 cursor-pointer text-lg;
}
.category-item.active{
  @apply after:translate-y-1 after:bottom-0 after:left-0 after:w-full after:h-1 after:rounded after:bg-secondary after:transition-all after:duration-300 cursor-pointer text-lg;
}